@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        " Заповядайте на нашето коледно парти! Ще се проведе на 20.12.2021 г. в ресторанта на хотел "............." от 19 часа! Моля, попълнете формата с вашите данни, както и дали ще присъствате, за да може да се направи необходимата организация.".
    </p>

    bgcolor = "liteyellow"
    <input id="Button1" type="button" value="button" />
</div>
